<%= form_with model: @doc, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "書類のタイトル" %><br />
    <%= f.text_field :title, id:"doc_title" %>
  </div>


  <div class="field">
    <%= f.label :concept, "書類の分類" %><br />
    <%= f.text_area :concept, class: :form__text, id:"doc_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, id:"doc_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>